@import url(fonts/stylesheet.css);

html {
  font-family: system-ui, sans-serif;
}

body {
  display: flex;
}

section {
  height: 100svh;
}
#side {
  width: 38%;
  background-color: red;
}

#main {
  width: 62%;
  background-color: aqua;
}
