@import url(fonts/stylesheet.css);

html {
  font-family: system-ui, sans-serif;
}

body {
  display: flex;
}

#side {
  width: 38%;
  height: 100svh;
  background: url(assets/side.jpg) no-repeat;
  background-size: 120%;
}

#main {
  width: 62%;
  height: 100svh;
  background: url(assets/blurred.jpg);
  background-size: 120%;
  position: relative;
  overflow: hidden;
  * {
    position: relative;
    z-index: 1;
  }
}
#main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: transparent;
  backdrop-filter: blur(30px);
}
